@model Party.Models.Guest

@{
    ViewBag.Title = "Ankeet";
}

<h2>Ankeet</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <p>Siseta nimi: @Html.TextBoxFor(x => x.Name)</p>
    <p>Siseta email: @Html.TextBoxFor(x => x.Email)</p>
    <p>Siseta tel: @Html.TextBoxFor(x => x.Phone)</p>
    <p>
        Sinu valik:
        @Html.DropDownListFor(x => x.WillAttend,
                new[]
                 {
                new SelectListItem() {Text="Tule kindlasti", Value=bool.TrueString},
                new SelectListItem() {Text=" MA ei Tule kindlasti", Value=bool.FalseString},
                         }, "Vali siit")

    </p>

    <p>
        Vali sünnipäev:
        @Html.DropDownListFor(x => x.BirthdayId, new SelectList(Model.Birthdays, "Id", "Nimetus"), "Vali sünnipäev")
    </p>

    <input type="submit" value="Saada vastus" />
}
