@model IEnumerable<Party.Models.Guest>

@{
    ViewBag.Title = "Attending Guests";
}
<style>
    /* Style for the table */
    .table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

        /* Style for table header */
        .table th {
            background-color: #8e44ad; /* Dark purple background */
            color: #fff;
            padding: 10px;
            text-align: left;
        }

        /* Style for table rows */
        .table td, .table th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        /* Style for alternating rows */
        .table tr:nth-child(even) {
            background-color: #f2e6f9; /* Light purple background */
        }

        /* Style for links in the last column */
        .table td a {
            color: #8e44ad; /* Dark purple link color */
            margin-right: 10px;
            text-decoration: none;
        }

            /* Hover effect for links */
            .table td a:hover {
                text-decoration: underline;
                color: #5e3370; /* Darker purple on hover */
            }
</style>

<h2>Osalevad külalised</h2>

<p>
    @Html.ActionLink("Lisa uus", "Create")<br />
    @Html.ActionLink("Tulevad", "Accept")
    @Html.ActionLink("Loobusid", "Reject")
    @Html.ActionLink("Kõik", "Guests")
</p>
<table class="table">
    <tr>
        <th>
            Nimi
        </th>
        <th>
            Epost
        </th>
        <th>
            Number
        </th>
        <th>
            Osleb
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WillAttend)
            </td>

            <td>
                @Html.ActionLink("Muuda", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Üksikasjad", "Details", new { id = item.Id }) |
                @Html.ActionLink("Kustuta", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
